<div class="span12">
  <h2>profile</h2>
  <div class="row">
    <div class="span4">
      <img src=<%=@steaminfo.full_avatar_url%> alt="steam profile image" />
      <dl>
        <dt>kansha id/steam community id/steam id</dt>
        <dd><%=@user.id%>/<%=@user.steamcomid%>/<%=@user.steamid%></dd>
        <dt>jump since at</dt>
        <dd><%= @user.since_at%></dd>
        <dt>jump period(sol/demo/all)</dt>
        <dd><%= jump_period @user.results.soldier%>/<%= jump_period @user.results.demoman%>/<%= jump_period @user.results%> days</dd>
      </dl>
    </div>
    <div class="span4">
      <div class="row">
        <div class="span8">
          <% if @steaminfo.is_online? %>
            <span class="label label-success">online</span>
        <% else %>
            <span class="label label-inverse">offline</span>
        <% end %>
          <strong><%=@user.last_nick%> <%= '('+  @steaminfo.nickname + ')' if @user.last_nick != @steaminfo.nickname%></strong>
          <a data-target="#nicknames" href="javascript:void(0)" data-toggle="modal">alias</a>
          <br>
          <%= @steaminfo.head_line %>
        </div>
        <div class="span8">
          <dl>
            <dt>profile url</dt>
              <dd><a href="<%= @steaminfo.base_url%>"><%= @steaminfo.base_url%></a></dd>
            <% if @steaminfo.privacy_state == 'public' %>
              <dt>state</dt>
            <dd><%=@steaminfo.state_message%></dd>
            <dt>summary</dt>
            <dd>
            <blockquote>
            <%= raw @steaminfo.summary%>
            </blockquote>
            </dd>
            <% if @steaminfo.links %>
              <dt>links</dt>
            <% @steaminfo.links.each do |k, v| %>
              <dd><a href="<%=v%>"><%=k%></a></dd>
          <% end %>
          <% end %>
          <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th colspan="6">total count</th>
        <th rowspan="2" colspan="3">challenge date</th>
        <th colspan="9">average count</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="3">challenge</th>
      <th colspan="3">jump</th>
      <th colspan="3">challenge</th>
      <th colspan="3">challenge date</th>
      <th colspan="3">perido</th>
    </tr>
    <tr>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
    </tr>
    <tr>
      <td><%= @user.results.soldier.size%></td>
      <td><%= @user.results.demoman.size%></td>
      <td><%= @user.results.size%></td>
      <td><%= @user.results.soldier.sum(:jump_count)%></td>
      <td><%= @user.results.demoman.sum(:jump_count)%></td>
      <td><%= @user.results.sum(:jump_count)%></td>
      <td><%= total_challenge_date_count(@user.results.soldier)%></td>
      <td><%= total_challenge_date_count(@user.results.demoman)%></td>
      <td><%= total_challenge_date_count(@user.results)%></td>
      <td><%= average_count_per_challenge(@user.results.soldier)%></td>
      <td><%= average_count_per_challenge(@user.results.demoman)%></td>
      <td><%= average_count_per_challenge(@user.results)%></td>
      <td><%= average_count_per_date(@user.results.soldier)%></td>
      <td><%= average_count_per_date(@user.results.demoman)%></td>
      <td><%= average_count_per_date(@user.results)%></td>
      <td><%= average_count_per_period(@user.results.soldier)%></td>
      <td><%= average_count_per_period(@user.results.demoman)%></td>
      <td><%= average_count_per_period(@user.results)%></td>
    </tr>
    </tbody>
  </table>
</dl>
<h2>recent 20 activity</h2>
<% if !@user.results.last then %>
  nothing last activity
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>mapname</th>
      <th>jump count</th>
      <th>class</th>
      <th>server</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
  <% @user.results.order('id desc').limit(20).each do |result| %>
    <tr>
    <td><a href="/map/ranking/<%=result.mapname%>/1"><%=result.mapname%></a></td>
    <td><%=result.jump_count%></td>
    <td><%=result.classname%></td>
    <td><%=result.tags%></td>
    <td><%=result.created%></td>
  </tr>
<% end %>
  </tbody>
</table>
<h2>recent 20 days activity summary</h2>
<div id="recent_20_box"><canvas width="940" height="300" id="graph1"></canvas></div>
<div class="modal hide" id="nicknames">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Nicknames</h3>
  </div>
  <div class="modal-body">
    <ul>
      <% @user.nicknames.each do|nick| %>
        <li><%= nick.nickname%></li>
    <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
