<h1>User#detail</h1>
<h2>summary</h2>
<dl>
  <dt>nickname</dt>
  <dd>
  <%=@user.last_nick%>
  <a href="javascript:void(0)" rel="popover" title="other nicknames">alias</a>
  <span style="display:none" id="nicknames">
    <% @user.nicknames.each do|nick| %>
      <%= nick.nickname%><br>
    <% end %>
  </span>
  </dd>
  <dt>kansha id/steam community id/steam id</dt>
  <dd><%=@user.id%>/<%=@user.steamcomid%>/<%=@user.steamid%></dd>
  <dt>jump since at</dt>
  <dd><%= @user.since_at%></dd>
  <dt>jump period(sol/demo/all)</dt>
  <dd><%= jump_period @user.results.soldier%>/<%= jump_period @user.results.demoman%>/<%= jump_period @user.results%> days</dd>
</dl>
  <table>
    <tr>
      <th colspan="6">total count</th>
      <th rowspan="2" colspan="3">challenge date</th>
      <th colspan="9">average count</th>
    </tr>
    <tr>
      <th colspan="3">challenge</th>
      <th colspan="3">jump</th>
      <th colspan="3">challenge</th>
      <th colspan="3">challenge date</th>
      <th colspan="3">perido</th>
    </tr>
    <tr>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
      <th>sol</th>
      <th>demo</th>
      <th>all</th>
    </tr>
    <tr>
      <td><%= @user.results.soldier.size%></td>
      <td><%= @user.results.demoman.size%></td>
      <td><%= @user.results.size%></td>
      <td><%= @user.results.soldier.sum(:jump_count)%></td>
      <td><%= @user.results.demoman.sum(:jump_count)%></td>
      <td><%= @user.results.sum(:jump_count)%></td>
      <td><%= total_challenge_date_count(@user.results.soldier)%></td>
      <td><%= total_challenge_date_count(@user.results.demoman)%></td>
      <td><%= total_challenge_date_count(@user.results)%></td>
      <td><%= average_count_per_challenge(@user.results.soldier)%></td>
      <td><%= average_count_per_challenge(@user.results.demoman)%></td>
      <td><%= average_count_per_challenge(@user.results)%></td>
      <td><%= average_count_per_date(@user.results.soldier)%></td>
      <td><%= average_count_per_date(@user.results.demoman)%></td>
      <td><%= average_count_per_date(@user.results)%></td>
      <td><%= average_count_per_period(@user.results.soldier)%></td>
      <td><%= average_count_per_period(@user.results.demoman)%></td>
      <td><%= average_count_per_period(@user.results)%></td>
    </tr>
  </table>
</dl>
<h2>recent 20 activity</h2>
<% if !@user.results.last then %>
  nothing last activity
<% end %>
<table>
  <tr>
    <th>mapname</th>
    <th>jump count</th>
    <th>class</th>
    <th>server</th>
    <th>date</th>
  </tr>
<% @user.results.order('id desc').limit(20).each do |result| %>
  <tr>
    <td><%=result.mapname%></td>
    <td><%=result.jump_count%></td>
    <td><%=result.classname%></td>
    <td><%=result.tags%></td>
    <td><%=result.created%></td>
  </tr>
<% end %>
</table>
