<h1>User#detail</h1>
<h2>summary</h2>
<dl>
  <dt>nickname</dt>
  <dd>
  <%=@user.last_nick%>
  <a href="javascript:void(0)" rel="popover" title="other nicknames">alias</a>
  <span style="display:none" id="nicknames">
    <% @user.nicknames.each do|nick| %>
      <%= nick.nickname%><br>
    <% end %>
  </span>
  </dd>
  <dt>steam id</dt>
  <dd><%=@user.id%>/<%=params[:id]%>/<%=@user[:steamid]%></dd>
  <dt>total jump challenge</dt>
  <dd><%= @user.results.size%></dd>
  <dt>total jump count</dt>
  <dd><%= @user.results.sum(:jump_count)%></dd>
  <dt>average jump count per challenge</dt>
  <dd><%= @user.average_count_per_jump%></dd>
</dl>
<h2>recent activity</h2>
<% if !@user.results.last then %>
  nothing last activity
<% end %>
<table>
  <tr>
    <th>mapname</th>
    <th>jump count</th>
    <th>date</th>
  </tr>
<% @user.results.each do |result| %>
  <tr>
    <td><%=result.mapname%></td>
    <td><%=result.jump_count%></td>
    <td><%=result.created%></td>
  </tr>
<% end %>
</table>
