<div class="span9">
  <%= paginate @ranking %>
  <%= render :partial => 'result', :locals => {:title => 'all'}, :object => @ranking %>
  <%= render :partial => 'result', :locals => {:title => 'soldier'}, :object => @ranking_sol %>
  <%= render :partial => 'result', :locals => {:title => 'demoman'}, :object => @ranking_demo %>
  <%= render :partial => 'result', :locals => {:title => 'starters'}, :object => @ranking_starters%>
</div>
<div class="span3">
  <div class="well sidebar-nav">
    <h3>rank category</h3>
    <ul class="nav nav-list">
      <li><a href="#all_rank">all</a></li>
      <li><a href="#soldier_rank">sol</a></li>
      <li><a href="#demoman_rank">demo</a></li>
      <li><a href="#starters_rank">starters</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
