<h1>User#index</h1>
<h2> total jump ranking </h2>
<table>
  <tr>
    <th>rank</th>
    <th>total count</th>
    <th>nickname</th>
    <th>last map</th>
    <th>last challenge</th>
  </tr>
  <% @ranking.each_with_index do|user, i| %>
    <tr>
      <td><%=@rank_start + i + 1%></td>
      <td><%=user.jump_count.to_i%></td>
      <td><a href="/user/<%= user.steamcomid%>"><%= user.last_nick%></a></td>
      <td><%=user.results.last.mapname%></td>
      <td><%=user.results.last.created%></td>
    </tr>
<% end %>
</table>

