<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SmNjKanshaWeb" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="http://platform.twitter.com/anywhere.js?id=YVSlHn7sKoHMb5ad5Q0Pg&v=1" type="text/javascript" defer="defer"></script>

  <% if Rails.env.production? %>
  <!-- for fps.withgod.jp -->
  <script type="text/javascript">
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-145771-13']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
   </script>
 <% end %>
  </head>
  <% if request.user_agent == "Half-Life 2"%>
  <body style="padding: 0px">
  <% else %>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">SmNjKanshaWeb</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= 'active' if params[:controller] == 'user'%>"><a href="/user/index">Ranking</a></li>
              <li class="<%= 'active' if params[:controller] == 'map' %>"><a href="/map/index">Maps</a></li>
              <li class="<%= 'active' if params[:controller] == 'motd' %>"><a href="/motd/index">Motd</a></li>
              <li class="<%= 'active' if params[:controller] == 'access' %>"><a href="/access/index">Access</a></li>
            </ul>
            <form class="navbar-search pull-left" action="/user/search">
              <input type="text" name="q" placeholder="Search by Nickname">
            </form>
            <ul class="nav pull-right">
              <% if current_user %>
                <li><a href="/user/<%= current_user[:steamid]%>"><%=raw current_user[:nickname]%></a></li>
                <li class="divider-vertical"></li>
              <li><%= link_to "Sign Out", signout_path %></li>

            <% else %>
                <li>
                <%= link_to image_tag("/img/sits_small.png", {:width => '154', :height => '23', :border => '0', :alt => 'login'}), "/auth/open_id?openid_url=http://steamcommunity.com/openid" %>
              </li>
            <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <% end %>
    <div class="container">
      <div class="content">
        <div class="row">
              <%= yield %>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; 2012-14 withgod.jp</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
